
@{
    ViewBag.Title = "Danh sách sinh viên";
    string str_page = Request["page"];
    string str_search = Request["str_search"];


    if (string.IsNullOrEmpty(str_page))
    {
        str_page = "1";
    }

    var totalRows = ViewData["count"];

    var totalPage = double.Parse(totalRows.ToString()) / 2;

}

<div class=" container">
    <form class="input-group mb-3" action="" method="GET">
        <input type="text" class="form-control" placeholder="Search by name" aria-label="Recipient's username" aria-describedby="button-addon2" name="str_search">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
    </form>
    <input type="hidden" value="@str_search" id="val_search">
    <input type="hidden" value="@str_page" id="page">
    <table id="tbl_data" class="table table-striped text-center">
        <tr>
            <td>    </td>
        </tr>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center" id="paginate">
            @if (totalPage > 1)
            {
                if (string.IsNullOrEmpty(str_search))
                {
                    if (int.Parse(str_page) > 1)
                    {
                        <li class="page-item"><a class="page-link" href="?page=@(int.Parse(str_page)-1)"><i class="fa-solid fa-chevron-left"></i></a></li>
                    }
                    for (int i = 0; i < totalPage; i++)
                    {
                        if ((i + 1) == int.Parse(str_page))
                        {
                            <li class="page-item active"><a class="page-link " href="?page=@(i+1)">@(i+1)</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="?page=@(i+1)">@(i+1)</a></li>
                        }
                    }
                    if (int.Parse(str_page) < totalPage)
                    {
                        <li class="page-item"><a class="page-link" href="?page=@(int.Parse(str_page)+1)"><i class="fa-solid fa-chevron-right"></i></a></li>
                    }

                }
                else
                {
                    if (int.Parse(str_page) > 1)
                    {
                        <li class="page-item"><a class="page-link" href="?str_search=@str_search&page=@(int.Parse(str_page)-1)"><i class="fa-solid fa-chevron-left"></i></a></li>
                    }
                    for (int i = 0; i < totalPage; i++)
                    {
                        if ((i + 1) == int.Parse(str_page))
                        {
                            <li class="page-item active"><a class="page-link " href="?str_search=@str_search&page=@(i+1)">@(i+1)</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="?str_search=@str_search&page=@(i+1)">@(i+1)</a></li>
                        }
                    }
                    if (int.Parse(str_page) < totalPage)
                    {
                        <li class="page-item"><a class="page-link" href="?str_search=@str_search&page=@(int.Parse(str_page)+1)"><i class="fa-solid fa-chevron-right"></i></a></li>
                    }
                }
            }
        </ul>
    </nav>
</div>







<script>
    function getList() {
        var pageItem = $('#page').val();
        var str_search = $('#val_search').val();
        $.ajax({
            url: "/Lop/GetList",
            method: "POST",
            data: { pageItem, str_search },
            success: function (result) {
                var obj = JSON.parse(result);
                console.log(obj.length);
                $('#tbl_data').html("\
                    <thead>\
                            <tr align='center'>\
                                <th>STT</th>\
                                <th>Mã Lớp</th>\
                                <th>Tên lớp</th>\
                                <th>Thao tác</th>\
                            </tr>\
                        </thead>\
                    <tbody id=\"tbl_data_printer\"></tbody>\
                    ");
                let htmlResult = "";

                for (let i = 0; i < obj.length; i++) {
                    htmlResult += "\
                                <tr>\
                                    <td>" + obj[i].id + "</td>\
                                    <td class ='MSSV'>" + obj[i].l_malop + "</td>\
                                    <td class='HoTen'>" + obj[i].l_name + "</td>\
                                    <td>\
                                    <a href=\"/Lop/Edit?id="+ obj[i].id + "\"class=\"btn btn-primary mr-2\"><i class=\"fas fa-edit\"></i></a>\
                                    <button onclick=\"Delete("+obj[i].id+"\)\" class=\"btn btn-danger\"><i class=\"fas fa-trash\"></i></button>\
                                    </td>\
                                    ";
                }
                $('#tbl_data_printer').append(htmlResult);
            }
        }
        )
    }

    function Delete(id) {
        console.log(id);
        if (confirm("Xác nhận xóa sinh viên có id:" + id)) {
            $.ajax({
                url: "/Lop/Delete",
                method: "POST",
                data: { id },
                success: function (result, status, xhr) {
                    let rs = JSON.parse(result);
                    console.log(rs);
                    if (rs.ErrCode == 1) {
                        toastr.success(rs.Message);
                        location.reload();
                    }
                    else {
                        toastr.error(rs.Message);
                    }
                },
                error: function () {
                    toastr.error("Mất kết nối với máy chủ!");
                }
            });
        }
    }

    $(function () {
        getList();
    })
</script>